.rect-shape {
  background: transparent;
  cursor: move;
  position: absolute;

  --spacing: -5px;

  .res.top {
    top: var(--spacing);
    left: 50%;
  }

  .res.top-right {
    top: var(--spacing);
    right: var(--spacing);
  }

  .res.right {
    top: 50%;
    right: var(--spacing);
  }

  .res.bottom-right {
    bottom: var(--spacing);
    right: var(--spacing);
  }

  .res.bottom {
    bottom: var(--spacing);
    left: 50%;
  }

  .res.bottom-left {
    bottom: var(--spacing);
    left: var(--spacing);
  }

  .res.left {
    top: 50%;
    left: var(--spacing);
  }

  .res.top-left {
    top: var(--spacing);
    left: var(--spacing);
  }
}
