.line-shape {
  background: black;
  height: 4px;
  position: absolute;

  > .res {
    background: white;
    border: 1px solid black;
    cursor: n-resize;
    display: inline-block;
    height: 6px;
    position: absolute;
    width: 6px;
    top: -1px;
  }

  > .res.left {
    left: -4px;
  }

  > .res.right {
    right: -4px;
  }
}
