aside {
  background: black;
  box-shadow: 0 0 3px black;
  text-align: center;
  transition: margin 0.5s ease;
  width: 3em;
  z-index: 10;
  
  .tools-list li {
    border-bottom: 1px solid #333;
    list-style-type: none;

    &:last-of-type {
      border: 0;
    }
  }

  .misc-list li {
    list-style-type: none;
    padding: 0.25em 0;
  }
}

.slide-to-left {
  margin-left: -3em;
}
