aside {
  background: black;
  box-shadow: 0 0 3px black;
  font-size: 1em;
  text-align: center;
  z-index: 10;

  span {
    padding: 0.8em 0;

    span {
      align-items: center;
      border-radius: 50%;
      display: inline-flex;
      height: 30px;
      justify-content: center;
      padding: 0;
      transition: all 0.2s ease;
      width: 30px;

      &:hover {
        cursor: pointer;
        background: #ddd;
        color: black;
      }
    }
  }

  li {
    background: rgb(0, 0, 0);
    border-bottom: 1px solid #333;
    list-style-type: none;
    width: 100%;

    &:last-of-type {
      border: 0;
    }
  }
}
